<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="This is a custom rule set" ToolsVersion="14.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA0001" Action="None"/> <!-- XML comment analysis is disabled -->
        <Rule Id="SA1101" Action="None"/> <!-- Prefix local calls with 'this' -->
        <Rule Id="SA1200" Action="None"/> <!-- Using directives must be placed correctly -->
        <Rule Id="SA1600" Action="None"/> <!-- Elements must be documented -->
        <Rule Id="SA1633" Action="None"/> <!-- File must have header -->
    </Rules>
</RuleSet>
