<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="SyxMyGetFeed" value="https://www.myget.org/F/syx-automations/api/v3/index.json" />
        <add key="enviso-dotnet-azure" value="https://pkgs.dev.azure.com/GantnerNv/Enviso/_packaging/enviso-dotnet/nuget/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <add key="SyxMyGetFeed" value="true" />
    </disabledPackageSources>
</configuration>
